[Unit]
Description="Service that runs Docker Compose for a custom repo."
Documentation=https://github.com/status-im/infra-role-compose-repo
Requires=network-online.target
After=network-online.target
After=docker.service

[Service]
User={{ compose_repo_compose_service_user }}
Group=docker
WorkingDirectory={{ compose_repo_path }}
SyslogFacility=local6
SyslogLevel=debug
ExecStart=/usr/local/bin/docker-compose --file {{ compose_repo_compose_file_path }} up --build
ExecStopPost=/usr/local/bin/docker-compose --file {{ compose_repo_compose_file_path }} down
Restart=on-failure
Environment=COMPOSE_PROJECT_NAME={{ compose_repo_service_name }}

[Install]
WantedBy=multi-user.target
